@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

/* Typography */

html {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  background-color: #f5f5f5;
  overflow-x: hidden;
  width: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
}

input {
  outline: none;
  border: none;
}

ul {
  list-style: none;
}

.btn {
  display: inline-block;
  padding: 1rem;
  border: 1px solid #6070ff;
  border-radius: 1rem;
  color: #396df2;
  text-align: center;
  letter-spacing: 0.03em;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
}

.btn_2 {
  display: inline-block;
  padding: 1rem;
  border: 1px solid #6070ff;
  border-radius: 1rem;
  color: #fff;
  text-align: center;
  letter-spacing: 0.03em;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  background-color: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

.btn_3 {
  display: inline-block;
  padding: 1rem;
  border: 1px solid #2230d2;
  border-radius: 1rem;
  color: #fff;
  text-align: center;
  letter-spacing: 0.03em;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  background-color: #2230d2;
}

.btn_4 {
  display: inline-block;
  padding: 1rem;
  border: 1px solid#5E6c84;
  border-radius: 1rem;
  color: #5e6c84;
  text-align: center;
  letter-spacing: 0.03em;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  background-color: #fff;
}

#header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  background-color: #fff;
}

.logo a {
  padding-left: 2rem;
  font-weight: 700;
  font-size: 2rem;
  color: #6070ff;
  flex-wrap: nowrap;
}

.navbar {
  height: 100%;
}

.navbar .menu {
  height: 100%;
  line-height: 50px;
  padding-right: 2.5rem;
}

.navbar .menu .bx {
  font-size: 3rem;
  color: #6070ff;
  line-height: 50px;
}

.main-container {
  width: 100%;
  height: 100%;
}

.headline {
  width: 100%;
  height: calc(718px - 60px);
  background-image: url("../images/header-shapes.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  border-bottom-left-radius: 5rem;
  background-color: #fff;
}

.headline h1 {
  width: 70%;
  max-width: 300px;
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 55px;
  letter-spacing: 0;
  text-align: left;
  color: #172b4d;
  padding: 10rem 2.5rem 0 2.5rem;
}

.headline p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: #344563;
  padding: 0 2.5rem;
  margin-top: 2.5rem;
}

.headline .connect {
  color: #6070ff;
  font-weight: 500;
  padding: 0 2.5rem;
}

.social-media {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 2rem;
  margin-top: 2.4rem;
}

.social-media svg {
  margin-right: 1.8rem;
}

/* works area */

.works {
  width: 100%;
  margin: 9rem 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 8rem;
  padding-bottom: 10rem;
  padding-top: 5rem;
}

.card-work {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 85%;
  max-width: 320px;
  border-radius: 16px;
  background-color: #fff;
  border: 1px solid #dfe1e6;
}

.card-work .portfolio-img {
  padding-top: 3rem;
  align-self: center;
  width: 100%;
}

.card-work .portfolio-img img {
  max-width: 100%;
}

.card-work .title {
  width: 100%;
  margin-bottom: 1rem;
}

.card-work .title h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  margin-top: 0.2rem;
}

.card-work .info {
  display: flex;
  align-content: center;
  width: 100%;
}

.card-work .info span {
  margin-right: 1.3rem;
  font-size: 1.3rem;
  font-weight: 600;
  color: #7a869a;
}

.card-work .info span:first-child {
  color: #344563;
}

.card-work .detail {
  width: 100%;
  margin-top: 1.6rem;
  margin-bottom: 1rem;
}

.card-work .detail p {
  color: #344563;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 24px;
}

.card-work .languages {
  display: flex;
  margin-top: 1rem;
}

.card-work .languages li {
  padding: 0.12rem 0.75rem;
  background-color: #ebebff;
  border-radius: 8px;
  margin-right: 2rem;
}

.card-work .languages li a {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.card-work .see-project {
  width: 100%;
  margin: 2.5rem 0;
}

.about-me {
  width: 100%;
  overflow: hidden;
  background-color: #fff;
  border-top-right-radius: 5rem;
  padding-top: 5rem;
  padding-bottom: 1rem;
}

.about-me .title {
  max-width: 300px;
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 55px;
  letter-spacing: 0;
  text-align: left;
  color: #172b4d;
  padding: 3rem 2.5rem 0 2.5rem;
}

.about-me .info {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: #344563;
  padding: 0 2.5rem;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
}

.about-me .connect {
  color: #7f8cff;
  font-weight: 500;
  padding: 1rem 2.5rem;
  margin-bottom: 2rem;
}

.about-me .resume-btn {
  margin-left: 2rem;
  margin-top: 2rem;
}

.about-me .knowledges {
  width: 100%;
  margin-top: 4rem;
  display: flex;
  align-content: center;
  flex-direction: column;
}

.knowledges .knowledge {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.knowledge .title span:first-child {
  padding-left: 3rem;
  color: #000;
  font-size: 2rem;
}

.knowledges .knowledge .title {
  display: flex;
  justify-content: space-between;
  align-content: center;
  font-size: 1.6rem;
  padding: 1rem 0;
  font-weight: 400;
  position: relative;
}

.knowledges .knowledge .title::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 3rem;
  width: 95%;
  height: 1px;
  background-color: #dfe1e6;
}

.knowledges .knowledge:first-child .title::after {
  display: none;
}

.knowledge .languages {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 3rem;
  margin-top: 2rem;
}

.knowledge .languages li {
  display: flex;
  align-items: center;
  background-color: #f7f7f9;
  height: 66.72px;
  width: 100%;
  max-width: 300px;
  margin-bottom: 2rem;
  border-radius: 8px;
}

.knowledge .languages li img {
  padding: 0 1.8rem;
}

.knowledge .languages li a {
  color: #253858;
  font-size: 15px;
}

.knowledge .frameworks {
  justify-content: center;
  flex-direction: column;
  padding: 0 3rem;
  margin-top: 2rem;
  display: none;
}

.knowledge .frameworks li {
  display: flex;
  align-items: center;
  background-color: #f7f7f9;
  height: 66.72px;
  width: 100%;
  margin-bottom: 2rem;
  border-radius: 8px;
}

.knowledge .frameworks li img {
  padding: 0 1.8rem;
}

.knowledge .frameworks li a {
  color: #253858;
  font-size: 15px;
}

.contact-section {
  width: 100%;
  background-color: #fff;
  padding-top: 12rem;
}

.contact-main-container {
  width: 100%;
  height: auto;
  background-image: url("../images/header-shapes.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #6070ff;
  border-top-left-radius: 5rem;
  padding-bottom: 5rem;
  position: relative;
  opacity: 1;
}

.contact-main-container .title_contact {
  padding-top: 10rem;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0;
  color: #fff;
}

.contact-main-container .detail {
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0;
  margin-top: 3rem;
  padding: 0 2rem;
  color: #fff;
}

.contact-main-container form {
  width: 100%;
  margin-top: 5rem;
}

.contact-main-container form .form-group {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-main-container form .form-group li {
  width: 90%;
  max-width: 441px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}

.contact-main-container form .form-group li input {
  text-indent: 1.8rem;
  height: 48px;
  margin-bottom: 1.5rem;
  width: 100%;
  max-width: 441px;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0;
  color: #172b4d;
}

.contact-main-container form .form-group li textarea {
  height: 150px;
  width: 100%;
  max-width: 100%;
  max-width: 441px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: #b3bac5;
  padding-top: 2rem;
  text-indent: 2rem;
  resize: none;
  border: none;
}

.contact-main-container form .form-group li button {
  padding: 1rem 1.3rem;
  border: 1px solid #6070ff;
  border-radius: 1rem;
  color: #6070ff;
  text-align: center;
  letter-spacing: 0.03em;
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
  margin-top: 2rem;
  background-color: #fff;
  align-self: flex-start;
}

.bar {
  position: absolute;
  bottom: 1rem;
  height: 5px;
  width: 135px;
  border-radius: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #0d151e;
}
